<nav>
    <a href="/">Home</a>
    <% if(isAuthenticated) { %>
        <a href="/message-board">Message Board</a>
    <% } %>

    <% if(isAuthenticated && !isMember && !isAdmin) { %>
        <a href="/join-club">Join Club</a>
    <% } %>
    
    <% if(isMember && !isAdmin) { %>
        <a href="/is-admin">Become Admin</a>
    <% } %>
    
    <% if(!isAuthenticated) { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>  
    <% } else { %>
        <a href="/logout">Logout</a>
    <% } %>
</nav>