<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container">
        <%- include("./partials/navs.ejs") %>
        <h1><%= system_msg %></h1>
        <h2>Go to <a href="/">Home</a> page instead</h2>
    </div>
</body>
</html>