<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div class="container">
        <%- include("./partials/navs.ejs") %>
        <h1><%= title %></h1>
        <%- include("./partials/errors.ejs") %>
        <form action="" method="post">
            <p>Do you want to be a member of this private club?</p>
            <p>Then enter correct pass code....</p>
            <fieldset>
                <label for="username">Email Address</label>
                <input type="email" id="username" name="username" placeholder="email: {ex: ab@ahoy.com}" autocomplete="email">
            </fieldset>
            <fieldset>
                <label for="secret">Secret Code</label>
                <input type="text" id="secret" name="secret" placeholder="passcode: {ex: secret-code}">
            </fieldset>
            <button type="submit">Join club</button>
        </form>
    </div>
</body>
</html>