<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <div class="container">
            <%- include("./partials/navs.ejs") %>
            <%- include("./partials/errors.ejs") %>
            <hr>
            <h1>ATTENTION</h1>
            <h2>You need to be a club member before becoming an Admin</h2>
            <h2>Otherwise you'll be redirected to "Join Club" page</h2>
            <h2>After becoming a club memeber, consider coming back and try being an Admin again</h2>
            <p>End of message transmission</p>
            <hr>
                <form action="" method="post">
                    <legend>Enter secret code to be eligible for Admin
                        <fieldset>
                            <label for="passcode">Passcode</label>
                            <input type="text" id="passcode" name="passcode" placeholder="enter code" required>
                        </fieldset>
                    </legend>
                    <button type="submit">Become Admin</button>
                </form>
        </div>
    </body>

</html>